<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/homelessapp</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>

        <mapping class="team15.homelessapp.model.ServiceCategory"/>
        <mapping class="team15.homelessapp.model.City"/>
        <mapping class="team15.homelessapp.model.Service"/>
        <mapping class="team15.homelessapp.model.ServiceAvailability"/>
        <mapping class="team15.homelessapp.model.User"/>
        <mapping class="team15.homelessapp.model.UserRole"/>
        <mapping class="team15.homelessapp.model.Feedback"/>
        <mapping class="team15.homelessapp.model.VisitLog"/>
    </session-factory>
</hibernate-configuration>
